body {
    background-color: rgb(187, 113, 125);
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.bongo-cat {
    width: 20%;
    height: 100px;
}

.title-area {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 30px;
}

.lists {
    display: flex;
    justify-content: space-around;
}

.table-div {
    display: flex;
    justify-content: space-around;
}

.avatar {
    height: 100px;
    border-radius: 50%;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: rgb(159, 48, 66);
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #8b7272;
}

.styled-table tbody tr :hover {
    background-color: rgb(104, 84, 87);
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: rgb(150, 82, 93);
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(187, 113, 125);;
}


