body {
  background-color: #1e1e1e;
  color: white;
}

p {
  color: white;
}

a {
  color: white;
}

#navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  
}

#navbar li {
  clear: both;
  height: 2em;
  display: block;
  
  
}

#navbar li a {
  float: left;
  display: block;
  padding: 4px;
  text-decoration: none;
  color: white;
  margin-bottom: 5px;
  margin-right: 10px;
}

#navbar ul {
  list-style: none;
  float: left;
  margin: 0;
  padding: 4px 8px;
  
  border-top: 1px solid grey;
}

#navbar ul li {
  float: left;
  clear: none;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  color: #999;
  display: block;
}

.options2 {
  font-size: 14px;
  height: 14px;
  display: block;
}

.options3 {
  font-size: 14px;
  height: 14px;
  display: block;
}

.options4 {
  font-size: 14px;
  height: 14px;
  display: block;
}

.options5 {
  font-size: 14px;
  height: 14px;
  display: block;
}

.options6 {
  font-size: 14px;
  height: 14px;
  display: block;
}

.options7 {
  font-size: 14px;
  height: 14px;
  display: block;
}

.active {
  background-color: #2b2b2b;
}

.button2 {
  border-top: 1px solid grey;
}

.button4 {
  border-bottom: 2px solid black;
}

.iframes {
  display: inline;
  list-style-type: none;
}

.mainwebsite {
  width: 78%;
  padding-right: 25px;
  height: 80%;
}

.mobile {
  width: 180%;
  height: 80%;
}

h3 {
  font-size: 27px;
  font-family: sans-serif;
  text-shadow: 2px 2px 8px #000000;
  text-align: left;
}

/* th {
  text-align: center;
  font-size: 27px;
}

table {
  height: 50%;
}

tr {
  height: 10%;
} */

code {
  font-family: monospace;
}

.skills {
  font-family: monospace;
  text-align: center;
}

.h3 {
  font-size: 10px;
}

.skills {
  width: 50%;
  text-align: left;
}

.mainlogo {
  width: 250px;
  float: right;
  top: 40px;
  right: 0px;
  position: absolute;
}