.clock1 {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.clock2 {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
}